<div class="container">
  <%= render :partial =>  'artists/header' %>
  <%= render :partial =>  'artists/artist_cards', :locals => {:artists => @artists} %>
  <%= render :partial =>  'artists/footer' %>
</div>

