<div id="dashboard">

  <! -- Navigation -->
  <%= render :partial => 'admin/dashboard/nav' %>

  <!-- List artists -->
  <%= render :partial => 'list_artists', :locals => {:artists => @onboarding_artists} %>
</div>