// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#overlay {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background: #cccccc;
}

.center-page-container-outer {
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: left;
  width: 1020px;
}

.center-page-container-inner {
  margin: 0;
  padding: 0;
  float: left;
  clear: both;
  position: relative;
  width: 100%;
  min-height: 800px;
}

.page-indent {
  float: left;
  clear: both;
  width: 940px;
  margin: 24px 40px 30px 40px;
  padding: 0;
}

.center-content {
  text-align: center;
}

.display-none {
  display: none;
}

#homepage-logo {
  float: left;
  clear: both;
  width: 100%;
  margin: 125px 0 0 0;
  padding: 0;
}

.homepage-text-container {
  float: left;
  clear: both;
  width: 100%;
  font-size: 24px;
}

.homepage-text {
  width: 370px;
  font-size: 36px;
  color: #575658;
  margin: 106px auto 0 auto;
  padding: 0;
}

#stay-tuned {
  margin: 100px auto 0 auto;
  padding: 0;
  cursor: pointer;
}

#prelaunch {
  position: absolute;
  height: 346px;
  width: 501px;
  font-size: 30px;
  background: #ffffff;
  display: none;
  z-index: 1001;
}

#prelaunch-close {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #000000;
  border: none;
  cursor: pointer;
}

#keep-me-informed {
  position: absolute;
  top: 0px;
  left: 0px;
}

.prelaunch-field {
  position: absolute;
  top: 265px;
  left: 122px;
  width: 329px;
  height: 28px;
  margin: 0;
  padding: 4px;
  font-size: 26px;
  background-color: #ebebeb;
  color: #000000;
  border: none;
}

#prelaunch-errors {
  position: absolute;
  top: 240px;
  left: 10px;
  width: 481px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #ff0000;
  border: none;
}

#prelaunch-thanks {
  font-size: 30px;
  margin: 135px 0 0 0;
  padding: 0;
}